In [217]:
import pandas as pd

In [218]:
deaths_states = pd.read_csv("../epidemic/deaths_state_21.csv")
death_states_monthly = deaths_states.copy()

In [219]:
deaths_states.head(1000)

,date,state,deaths_new,deaths_new_dod,deaths_bid,deaths_bid_dod,cumul_full,population,cumul_partial,cumul_full.1
0,1/1/2021,Johor,0,1,0,0,0,3781000,0,0.0
1,1/1/2021,Kedah,0,0,0,0,0,2185100,0,0.0
2,1/1/2021,Kelantan,0,0,0,0,0,1906700,0,0.0
3,1/1/2021,Melaka,0,0,0,0,0,932700,0,0.0
4,1/1/2021,Negeri Sembilan,1,2,0,0,0,1128800,0,0.0
...,...,...,...,...,...,...,...,...,...,...
995,4/3/2021,Melaka,0,1,0,0,0,932700,3604,7722.0
996,4/3/2021,Negeri Sembilan,0,0,0,0,1,1128800,4359,12090.0
997,4/3/2021,Pahang,1,0,0,0,2,1678700,8524,23803.0
998,4/3/2021,Perak,0,0,0,0,1,2510300,8706,30826.0
999,4/3/2021,Perlis,0,0,0,0,0,254900,1900,6682.0

In [220]:
#Converts the data to deaths_new monthly average to avoid 0 values, same for cumul_full
deaths_states_monthly = deaths_states.groupby(['date','state'])[['deaths_new', 'cumul_full','population','cumul_partial']].mean().reset_index()
deaths_states_monthly['date'] = pd.to_datetime(deaths_states_monthly['date'], format = "%d/%m/%Y")
deaths_states_monthly['date'] = deaths_states_monthly['date'].dt.to_period('M')
deaths_states_monthly.head(30)

,date,state,deaths_new,cumul_full,population,cumul_partial
0,2021-01,Johor,0,0,3781000,0
1,2021-01,Kedah,0,0,2185100,0
2,2021-01,Kelantan,0,0,1906700,0
3,2021-01,Melaka,0,0,932700,0
4,2021-01,Negeri Sembilan,1,0,1128800,0
5,2021-01,Pahang,0,0,1678700,0
6,2021-01,Perak,0,0,2510300,0
7,2021-01,Perlis,0,0,254900,0
8,2021-01,Pulau Pinang,0,0,1773600,0
9,2021-01,Sabah,0,0,3908500,0
10,2021-01,Sarawak,0,0,2816500,0
11,2021-01,Selangor,1,0,6538000,0
12,2021-01,Terengganu,0,0,1259300,0
13,2021-01,W.P. Kuala Lumpur,1,0,1773700,0
14,2021-01,W.P. Labuan,0,0,99600,0
15,2021-01,W.P. Putrajaya,0,0,110000,0
16,2021-02,Johor,1,0,3781000,0
17,2021-02,Kedah,0,0,2185100,0
18,2021-02,Kelantan,0,0,1906700,0
19,2021-02,Melaka,1,0,932700,0
20,2021-02,Negeri Sembilan,3,0,1128800,0
21,2021-02,Pahang,0,0,1678700,0
22,2021-02,Perak,1,0,2510300,0
23,2021-02,Perlis,0,0,254900,0
24,2021-02,Pulau Pinang,0,0,1773600,0
25,2021-02,Sabah,0,0,3908500,0
26,2021-02,Sarawak,1,0,2816500,0
27,2021-02,Selangor,1,0,6538000,0
28,2021-02,Terengganu,1,0,1259300,0
29,2021-02,W.P. Kuala Lumpur,0,0,1773700,0

In [221]:
#Finding out percentage cummulation for each state
deaths_states_monthly["cumul_full"] = pd.to_numeric(deaths_states_monthly['cumul_full'])
deaths_states_monthly["population"] = pd.to_numeric(deaths_states_monthly['population'])
deaths_states_monthly["percentage_vax_partial"] = (deaths_states_monthly['cumul_partial']/deaths_states_monthly['population']) * 100
deaths_states_monthly["percentage_vax_full"] = (deaths_states_monthly['cumul_full']/deaths_states_monthly['population']) * 100
deaths_states_monthly

,date,state,deaths_new,cumul_full,population,cumul_partial,percentage_vax_partial,percentage_vax_full
0,2021-01,Johor,0,0,3781000,0,0.000000,0.000000
1,2021-01,Kedah,0,0,2185100,0,0.000000,0.000000
2,2021-01,Kelantan,0,0,1906700,0,0.000000,0.000000
3,2021-01,Melaka,0,0,932700,0,0.000000,0.000000
4,2021-01,Negeri Sembilan,1,0,1128800,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...
4235,2021-09,Selangor,73,3724155,6538000,4094223,62.621949,56.961686
4236,2021-09,Terengganu,5,534041,1259300,718733,57.074009,42.407766
4237,2021-09,W.P. Kuala Lumpur,25,2359938,1773700,2793122,157.474319,133.051700
4238,2021-09,W.P. Labuan,0,66615,99600,71114,71.399598,66.882530
4239,2021-09,W.P. Putrajaya,0,120131,110000,128042,116.401818,109.210000

In [222]:
deaths_states_monthly.to_csv("deaths_vax_states_monthly.csv")